
  
  .dashboard__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }
  
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  
  .dashboard div {
    margin-top: 7px;
  }

  
  .center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
  } 
